<header class="header" style="width:100%;">
  <h1 class="logo" style="color: #fff; margin-left: -410px; margin-top: 5px;padding-left: 35%; "> The Soccer Cup </h1>
    <ul class="main-nav">
        <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
        <li><a [routerLink]="['/send-request']" routerLinkActive="router-link-active" >Team Request</a></li>
        <li><a [routerLink]="['/aboutus']" routerLinkActive="router-link-active" >About</a></li>
        <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="logout()">Log Out</a></li>
    </ul>
</header> 


<div class="tempContainer ">
  <h1>Requests Status</h1>
  <p>You can view the requests made to the team</p>
<table class="table table-bordered temptable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team Name</th>
        <th scope="col">Team Rating</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of requestsDataForCurrentUser, let i = index">
        <td>{{i+1}}</td>
        <td>{{r.team.name}}</td>
        <td>{{r.team.teamRating}}</td>
        <td>{{r.status == true ? "Accepted" : r.status == false ? "Rejected" : "Pending"}}</td>
        <td><button *ngIf="r.status == null" type="button" class="btn btn-warning" (click)="deleteRequest(r.id)">Cancel</button><p *ngIf="r.status != null">-</p></td>
      </tr>
     
    </tbody>
  </table>
</div>

<app-footer></app-footer>