<!-- <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head> -->
<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row">
				<div>
					<ul style="color: #fff; text-align: center; font-size: 25px; margin-top: 15px">
						<li class="list-inline-item"><i class="fa fa-facebook"></i></li>
						<li class="list-inline-item"><i class="fa fa-twitter"></i></li>
						<li class="list-inline-item"><i class="fa fa-instagram"></i></li>
						<li class="list-inline-item"><i class="fa fa-google-plus"></i></li>
						<li class="list-inline-item"><i class="fa fa-envelope"></i></li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<div>
					<p style="color: #fff; text-align: center">Experience the thrill of soccer like never before – where passion meets precision!</p>
					<p style="color: #fff; text-align: center; margin-top: -10px;">© All rights reserved. The Soccer Cup</p>
				</div>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->