
<div class="outer">

    <div class="container ">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border ">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3 ">
                        <form [formGroup]= "loginForm">
                            <!-- username field -->
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]= "loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf= "loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="text-danger">*Email is Required</small>

                            <!-- //password -->
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]= "loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="isText ? 'text' : 'password'" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf= "loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Password is Required</small>

                        <!-- <div class="form-inline pt-3"> Role :
                            <input type="radio" name="role" value="Admin">Admin
                            <input type="radio" name="role" value="User">User
                            
                        </div> -->

                            

                            <!-- login button -->
                            <button (click)= "OnLogin()"  class ="btn btn-primary btn-block mt-4 w-100">Login</button>
                            <div class="text-center pt-4 text-muted">Don't have an account? <a id="forget" routerLink="/signup">Sign Up</a></div>


                            
                        </form>
                    </div>
                    <!-- <div class="mx-3 my-2 py-2 border">
                        <div class="text-center py-3"></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>