
  ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  h2, h3, a {
	color: #fff;
  }
  
  a {
	text-decoration: none;
  }
  
  .logo {
	margin: 0;
	margin-left: 30px;
	font-size: 1.45em;
  }
  
  .main-nav {
	margin-top: 3px;
	margin-right: 45px;
  }


  .logo a,
  .main-nav a {
	padding: 5px 12px;
	text-transform: uppercase;
	text-align: center;
	display: block;
  }
  
  .main-nav a {
	color: #fff;
	font-size: 0.99em;
  }
  
  .main-nav a:hover {
	color: #fff;
  }
  
  .header {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	/* border: 1px solid #fff; */
	background-color: black;
	/* -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75); */
	/* -webkit-border-radius: 5px;
	-moz-border-radius: 5px; */
	/* border-radius: 5px; */
  }
  
  /* ================================= 
	Media Queries
  ==================================== */
  
  @media (min-width: 769px) {
	.header,
	.main-nav {
	  display: flex;
	}
	
  
  
  @media (min-width: 1025px) {
	.header {
	  flex-direction: row;
	  justify-content: space-between;
	}
  }
  
  }

  .tempContainer{
	width: 100%;
    text-align: center;
	margin-bottom: 110px;
}

.temptable{
    text-align: center;
    width: 700px;
	margin-left: 350px;
}
table {
	border:1px solid #524f4f85;
}
table > tr {
    align-items: center;
}

.tempContainer > h1{
	font-size: 30px;
	margin-top: 40px;
}

table tbody {
	background-color: rgb(252, 246, 237);
}

table thead{
	background-color: #ee2828;
}