.componentContainer {    
    width: 85%;
    padding-left: 120px;
    padding-top: 30px;
}

.componentContainer > h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
}

.componentContainer > p {
    font-size: 14px;
    color: #b8b8b8;
    margin-top: -5px;
    margin-bottom: 20px;
}

.componentContainer > table {
    text-align: center;
}

.editButton{
    width: 65px;
    height: 30px;
    line-height: 15px;
    font-size: 15px;
    align-items: center;
}

.deleteButton{
    width: 65px;
    height: 30px;
    line-height: 15px;
    font-size: 15px;
    align-items: center;
    margin-left: -35px;
}

table > tbody > tr > td > a{
    text-decoration: none; 
    color: white;
}

table > tbody > tr > td > a:hover{
    color: rgb(220, 191, 4);
}
