<div class="componentContainer">
    <h1>Players List</h1>
    <p>Below is the list of players. You can edit to change any information given in the table or click on player name to edit the player statistics</p>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Player Role</th>
            <th scope="col">Player Rating</th>
            <th scope="col">Team Name</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of playersData, let i = index">
            <th scope="row">{{i+1}}</th>
            <td><a routerLink="/admin-dashboard/view-players/{{player.id}}/stats">{{player.name}}</a></td>
            <td>{{player.dob.substring(0,10)}}</td>
            <td>{{ player.playerRole ? player.playerRole : 'None' }}</td>
            <td>{{ player.playerRating ? player.playerRating : 'None' }}</td>
            <td>{{ player.team ? player.team.name : 'None' }}</td>
            <td><button type="button" class="btn btn-primary editButton" routerLink="/admin-dashboard/view-players/{{player.id}}/edit">Edit</button></td>
            <td><button type="button" class="btn btn-warning deleteButton" (click)="deletePlayer(player)">Delete</button></td>
          </tr>
        </tbody>
      </table>
</div>
