
<div class="tempContainer">
    <h1>Teams</h1>
    <div class="flexContainer">
    <div class="card card-item" style="width: 200px;">
        <img class="card-img-top" src="../assets/team1.png" style="height: 150px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Team name</h5>
          <p>Team Rating</p>
          <a href="#" class="btn btn-primary">View details</a>
        </div>
    </div>
    <div class="card card-item" style="width: 300px;">
        <img class="card-img-top" src="../assets/team2.png" style="height: 180px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Team name</h5>
          <p>Team Rating</p>
          <a href="#" class="btn btn-primary">View details</a>
        </div>
      </div>
      <div class="card card-item" style="width: 300px">
        <img class="card-img-top" src="../assets/team3.jpeg" style="height: 180px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Team name</h5>
           <p>Team Rating</p>
          <a href="#" class="btn btn-primary">View details</a>
        </div>
      </div>
      <div class="card card-item" style="width: 18rem;">
        <img class="card-img-top" src="../assets/team3.jpeg" style="height: 180px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Team name</h5>
           <p>Team Rating</p>
          <a href="#" class="btn btn-primary">View details</a>
        </div>
      </div>
      </div>
</div>