<div class="componentContainer">
  <h1>Create new tournament</h1>
  <p>Enter the details below and then proceed</p>
  <div class="tempContainer">
  <form #createTournament="ngForm" (ngSubmit)="getData(createTournament.value)">
      <div class="form-group field">
        <label for="inputName">Tournament Name</label>
        <input ngModel type="text" class="form-control" id="inputName" placeholder="Name" #name name="name">
        <small>{{nameErrorMessage}}</small>
      </div>

      <div class="dateContainer">
          <div class="form-group field">
              <label for="inputStartDate">Start Date</label>
              <input ngModel type="date" class="form-control" id="inputStartDate" placeholder="MM/DD/YYYY" style="text-transform: uppercase; width: 190px;" #name name="startDate" min="{{currentDate}}">
              <small>{{startDateErrorMessage}}</small>
            </div>
          <div class="form-group field">
              <label for="inputEndDate">End Date</label>
              <input ngModel type="date" class="form-control" id="inputEndDate" placeholder="MM/DD/YYYY" style="text-transform: uppercase; width: 190px;" #name name="endDate">
              <small>{{endDateErrorMessage}}</small>
            </div>
      </div>

      <!-- <div class="form-group field">
        <label for="inputWinnerTeam">Winner Team</label>
        <input type="text" class="form-control" id="inputWinnerTeam" placeholder="WinnerTeam Name" value="Not Declared">
      </div> -->
      <button type="button" class="btn btn-warning" id="closeBtn" routerLink="/admin-dashboard/view-tournaments">Close</button>
      <button type="submit" class="btn btn-primary" id="createBtn">Create Tournament</button>
    </form>
  </div>
</div>