.componentContainer {    
    width: 100%;
    padding-left: 80px;
    padding-top: 30px;
}

.componentContainer > h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.componentContainer > p {
    font-size: 14px;
    color: #b8b8b8;
    margin-top: 5px;
}

.tempContainer{
    width: 500px;
    margin-left: 120px;
    margin-top: 10px;
    padding: 20px;
    padding-top: 10px;
    height: 400px;
    border: 1px solid white;
}

.tempContainer > form > button{
    float: right;
    margin-top: 10px;
}

.flex-container{
    display: flex;
    align-items: center;
}

.field {
    width: 45%;
}

.field:first-child{
    margin-right: 45px;
}

#createBtn{
    margin-right: 15px;
}

.invalid{
    border-color: #e74c3c;;
    box-shadow: inset 1px 1px rgba(0,0,0,0.075), 0 0 8px rgb(191, 1, 1);
}

.form-group > small {
    font-size: 13px;
    color: #e74c3c;
}