<section id="sldier" class="pt-5">

    <div class="container">
        <h1 class="text-center"><b>Top Teams</b> </h1>
        <div class="slider">
            <div class="owl-carosuel">
                <div class="slider-card" >
                    <div class="d-flex justify-content-center align-items-center mb-4 ">
                        <img src="../assets/team1.png" alt="">
                    </div>
                    <h5>{{teams[0].name}}</h5>
                    <p>Rating: {{teams[0].rating}}</p>
                </div>
                <div class="slider-card">
                    <div class="d-flex justify-content-center align-items-center mb-4 ">
                        <img src="../assets/team2.png" alt="">
                    </div>
                    <h5>{{teams[1].name}}</h5>
                    <p>Rating: {{teams[1].rating}}</p>
                </div>
                <div class="slider-card">
                    <div class="d-flex justify-content-center align-items-center mb-4">
                        <img src="../assets/team3.png" alt="">
                    </div>
                    <h5>{{teams[2].name}}</h5>
                    <p>Rating: {{teams[2].rating}}</p>
                </div>
                <div class="slider-card">
                    <div class="d-flex justify-content-center align-items-center mb-4">
                        <img src="../assets/team4.png" alt="">
                    </div>
                    <h5>{{teams[3].name}}</h5>
                    <p>Rating: {{teams[3].rating}}</p>
                </div>
                
            </div>
        </div>
    </div>

</section>

